.Login-main {
  .Login-logo {
    position: absolute;
    display: flex;
    gap: 10px;
    width: 173.76px;
    height: 36px;
    left: 97px;
    top: 60px;
    .Login-unionLogo {
      width: 24.75px;
      height: 25px;
    }
    .Login-lendLogo {
      width: 138.44px;
      height: 36px;
    }
  }
  .Login-Container {
    display: flex;

    justify-content: center;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    align-items: center;
    height: 100vh;
    .Login-imgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48%;
      .Login-pabloImgContainer {
        margin-top: 40px;
        top: 0px;
        .Login-pabloImg {
          width: 600px;
          height: 337.57px;
        }
      }
    }

    .Login-formContainer {
      width: 48%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        .Login-welcomeText {
          margin: 0px;
          font-family: "Avenir Next";
          font-style: normal;
          font-weight: 700;
          font-size: 40px;
          line-height: 55px;
          letter-spacing: -0.04em;
          color: #213f7d;
        }
        .Login-detailsText {
          font-family: "Avenir Next";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 27px;
          color: #545f7d;
          margin-bottom: 60px;
        }

        .Login-inputeContainer {
          display: flex;
          flex-direction: column;
          gap: 10px;

          input {
            width: 427px;
            height: 42px;
            background: #ffffff;
            border: 2px solid rgba(84, 95, 125, 0.15);
            border-radius: 5px;
            padding: 4px 10px;
            ::placeholder {
              font-family: "Avenir Next";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 19px;
              color: #545f7d;
              opacity: 0.6;
              margin: 0px 100px;
            }
          }
        }
        .forgotPassword {
          font-family: "Avenir Next";
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.1em;
          color: #39cdcc;
        }
        button {
          width: 447px;
          height: 50px;
          border: 2px solid rgba(84, 95, 125, 0.15);
          border-radius: 5px;
          background: #39cdcc;
          border-radius: 8px;
          cursor: pointer;
        }
      }
    }
  }
}
