@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
$font-family: "work sans";
.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.body {
  max-width: 1440px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.sidebarContainer {
  background: #ffffff;
  width: 283px;
  transition: width 0.15s ease-in-out;
  @media (max-width: 900px) {
    position: absolute;
    z-index: 2;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  }
}
.sidebarContainer1 {
  width: 283px;
  @media (max-width: 900px) {
    width: 0px;
    transition: width 0.15s ease-in-out;
  }
}
.parentContainer {
  flex: 1;
  height: calc(100vh - 100px);
  overflow-y: auto;
  max-width: 1157px;
  margin-top: 100px;
  padding: 60px;
  @media (max-width: 900px) {
    width: 100%;
    padding: 20px;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
