// @import "./components//variables/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
$font-family: "work sans";

.body {
  max-width: 1440px;
  width: 100%;
  display: flex;
  padding: 0;
  overflow: hidden;
}
.sidebarContainer {
  width: 20%;
  max-width: 283px;
  overflow-y: auto;
  transition: width 0.15s ease-in-out;
  @media (max-width: 900px) {
    max-width: none;
    width: 400px;
    background: #ffffff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  }
}
.sidebarContainer1 {
  @media (max-width: 900px) {
    width: 0px;
    // width: 800px;
    transition: width 0.15s ease-in-out;
  }
}
.parentContainer {
  max-width: 1157px;
  width: 80%;
  overflow-y: auto;
  margin-top: 100px;
  padding: 60px;
  overflow: hidden;
  @media (max-width: 900px) {
    width: 100%;
    padding: 20px;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
