.sidebar {
  height: calc(100vh - 70px);
  margin-top: 100px;
  overflow-y: auto;
  width: 100%;
  padding: 39px 0px;
  background: #ffffff;
  color: #213f7d;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

  .mobile-utilities {
    margin-bottom: 60px;
    display: none;
    gap: 10px;
    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
    }
    .avatar {
      display: flex;
      justify-content: center;
      img {
        height: 70px;
        width: 70px;
      }
    }
    .username {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      .dropdown {
        height: 4.2px;
        width: 7.3px;
        cursor: pointer;
      }
    }
    .searchbar {
      display: flex;
      justify-content: center;
      input {
        height: 30px;
        width: 90%;
        border: 1px solid #213f7d;
        border-radius: 8px;
        padding: 2px 0px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .sidebar-tab-header {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin: 30px 0px 10px 20px;
  }
  .sidebar-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px 0px;
  }
  .sidebar-tab {
    padding: 0px 20px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: rgba(33, 63, 125, 0.6);

    &:hover {
      background: rgba(57, 205, 204, 0.06);
    }
  }
  .sidebar-section {
    margin: 20px 0;
  }
  .sidebar-current-tab {
    padding: 0px 20px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #213f7d;
    background: rgba(57, 205, 204, 0.06);
    border-left: 3px solid #39cdcc;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
